<!-- Content Row -->
<div class="row">
  <div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Jumlah Petani</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%=petani%></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-users fa-3x"></i>
            <!-- <i class="fas fa-map-marker-alt fa-2x text-gray-300"></i> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Jumlah Klaster</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">2</div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-trophy fa-3x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header py-3">Hasil Optimasi Klaster 1 (Pupuk Bansos)</div>
  <div class="card-body">
    <table class="table table-bordered" id="dataTable" url="/dashboard/table" width="100%" cellspacing="0"></table>
  </div>
</div>
<div class="card mt-5">
  <div class="card-header py-3">Hasil Optimasi Klaster 2 (Pupuk)</div>
  <div class="card-body">
    <table class="table table-bordered" id="test" url="/dashboard/table1" width="100%" cellspacing="0"></table>
  </div>
</div>
<% const toastSuccess=messages.success %> <% const toastError=messages.error %>
<script>
  $(document).ready(function () {
    const toastSuccess = '<%= toastSuccess %>';
    const toastError = '<%= toastError %>';
    toastSuccess != '' && notification('success', toastSuccess);
    toastError != '' && notification('error', toastError);

    const url = $('#test').attr('url');
    const parsUrl = url.split('/')[1];
    $.ajax({
      type: 'GET',
      url,
      dataType: 'json',
      success: function (response) {
        if (parsUrl != 'dashboard') {
          response.columns.push({
            data: 'id',
            title: '',
            searchable: false,
            sortable: false,
            width: '8%',
            render: function (id, type, full, meta) {
              return `<span><a href="/${parsUrl}/form/${id}" class="modal-open lg" title="Edit ${full.name}" id="${id}"><i class='h3 bx bxs-message-square-edit bx-tada bx-flip-horizontal'></i></a> |
              <a href="/${parsUrl}/delete/${id}"  onclick="return confirm('Anda yakin ingin menghapus item ini?');" title="Delete ${full.name}" id="${id}"><i class='h3 bx bxs-trash-alt bx-tada' style='color:#f50000'></i></a></span>
              `;
            },
          });
        }

        $('#test').DataTable({
          rowReorder: {
            selector: 'td:nth-child(2)',
          },
          processing: true,
          retrieve: true,
          responsive: true,
          // dom: "Blrtip",
          data: response.data,
          columns: response.columns,
        });
      },
    });
  });
</script>
