<div class="d-flex align-items-center justify-content-center" style="height: 350px">
  <div class="card w-50 bg-primary rounded rounded-3">
    <div class="card-body p-5">
      <form action="/login" method="post">
        <div class="mb-4">
          <label class="form-label text-white">Username</label>
          <input type="text" class="form-control" required placeholder="Username" name="username" />
        </div>
        <div class="mb-4">
          <label class="form-label text-white">Password</label>
          <input type="password" class="form-control" required placeholder="Password" name="password" />
        </div>
        <div class="col-md-12 mb-4">
          <button type="submit" class="btn btn-warning col-md-12 rounded-pill">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
<% const toastSuccess=messages.success %> <% const toastError=messages.error %>
<script>
  $(document).ready(function () {
    const toastSuccess = '<%= toastSuccess %>';
    const toastError = '<%= toastError %>';
    toastSuccess != '' && notification('success', toastSuccess);
    toastError != '' && notification('error', toastError);
  });
</script>
